<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>flashduel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="app" ng-controller="MainController">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
          <h3 class="text-muted">{{title}}</h3>

          <div class="row table">
            <div class="board">
              <div class="col-xs-1 dark space">1</div>
              <div class="col-xs-1 dark space">2</div>
              <div class="col-xs-1 light space">3</div>
              <div class="col-xs-1 light space">4</div>
              <div class="col-xs-1 dark space">5</div>
              <div class="col-xs-1 dark space">6</div>
              <div class="col-xs-1 light space">7</div>
              <div class="col-xs-1 light space">8</div>
              <div class="col-xs-1 dark space">9</div>
              <div class="col-xs-1 dark space">10</div>
              <div class="col-xs-1 light space">11</div>
              <div class="col-xs-1 light space">12</div>
              <div class="col-xs-1 dark space">13</div>
              <div class="col-xs-1 dark space">14</div>
              <div class="col-xs-1 light space">15</div>
              <div class="col-xs-1 light space">16</div>
              <div class="col-xs-1 dark space">17</div>
              <div class="col-xs-1 dark space">18</div>
            </div>
          </div>
          <div class="row players" ng-repeat="player in players">
            <div class="col-xs-1 {{'col-xs-offset-' + (player.position - 1)}}" style="top: {{-100 -60*($index-1)}}px;">
              <div class="player" style="background-color: {{player.color}};">
              </div>
            </div>
          </div>

          <div ng-repeat="player in players">
            <h4>{{player.name}}</h4>
            <button ng-disabled="game.currentPlayer != $index" ng-click="movePlayer(player, player.move, 1)">Move Forward</button>
            
              <select ng-disabled="game.currentPlayer != $index" ng-model="player.move">
                <option ng-repeat="card in player.hand track by $index" value="{{card}}">{{card}}</option>
              </select>
            <button ng-disabled="game.currentPlayer != $index" ng-click="movePlayer(player, player.move, -1)">Move Backward</button>
            {{player}}
          </div>
        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>'
        <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/controllers/MainController.js"></script>
        <script src="scripts/services/BoardService.js"></script>
        <script src="scripts/services/DeckService.js"></script>
        <script src="scripts/services/GameService.js"></script>
        <script src="scripts/services/PlayerService.js"></script>
        <script src="scripts/services/Values.js"></script>
        <!-- endbuild -->
    </body>
</html>
