<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>flashduel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->        
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="app" ng-controller="MainController">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
          <h3 class="text-muted">{{title}}</h3>

          <div class="row table">
            <div class="board">
              <div class="col-xs-1 space" ng-class="space.type" ng-repeat="space in board">{{space.number}}</div>              
            </div>
          </div>
          <div class="row players" ng-repeat="player in players">
            <div class="col-xs-1 {{'col-xs-offset-' + (player.position - 1)}}" style="top: {{-100 -60*($index-1)}}px;">
              <div class="player" style="background-color: {{player.color}};">
              </div>
            </div>
          </div>

          Cards Remaining: {{numCardsRemaining()}}
          Discard Pile: {{discardPile()}}

          <div ng-repeat="player in players" ng-show="game.currentPlayer != $index">
            <h4>{{player.name}}</h4>

            <tabset justified="true">
              <tab heading="Move">
                <h5>Move!</h5>
                {{player.hand}}
                <div class="btn-group">
                  <label ng-repeat="card in player.hand track by $index" class="btn btn-primary" ng-model="player.move" btn-radio="{{$index}}">{{card}}</label>
                </div>

                <div class="btn-group">
                  <label class="btn btn-primary" ng-model="direction" btn-radio="1">Forward</label>
                  <label class="btn btn-primary" ng-model="direction" btn-radio="-1">Backward</label>
                </div>

                <button class="btn btn-default" ng-click="actions.move(player, direction)">Go</button>
              </tab>
              <tab heading="Attack">
                <h5>Attack!</h5>
                {{player.hand}}
                <div class="btn-group">
                   <label ng-repeat="card in player.hand track by $index" class="btn btn-primary" ng-model="player.attack[$index]" btn-checkbox>{{card}}</label>
                </div>
                <button class="btn btn-default" ng-click="actions.attack(player, attack)">Go</button>
              </tab>
              <tab heading="Dashing Stike">
                <h5>Dashing Strike!</h5>
                {{player.hand}}
              </tab>
            </tabset>
          </div>
        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/controllers/MainController.js"></script>
        <script src="scripts/services/BoardService.js"></script>
        <script src="scripts/services/DeckService.js"></script>
        <script src="scripts/services/GameService.js"></script>
        <script src="scripts/services/PlayerService.js"></script>
        <script src="scripts/services/Values.js"></script>
        <!-- endbuild -->
    </body>
</html>
